{% include 'globals/_header.twig' %}

<div class="row lead gradient">
    <div class="col-md-12">
        <h2 class="lead__header">{{setting('site.lead_title')|raw}}</h2>
        <div class="lead__text col-md-6 col-md-offset-3 col-block">{{setting('site.lead_description')|raw}}</div>
        <div class="weather-sunny"></div>
    </div>
</div>

<div class="row portfolio">
{% for item in items %}
    {% include 'portfolio/_item.twig' %}
{% endfor %}
</div>

{% include 'globals/_footer.twig' %}