{% include 'globals/_header.twig' %}

<div class="row lead gradient">
    <div class="col-md-12">
        <h2 class="lead__header">{{setting('site.lead_title')|raw}}</h2>
        <div class="lead__text col-md-6 col-md-offset-3 col-block">{{setting('site.lead_description')|raw}}</div>
        <div class="weather-sunny"></div>
    </div>
</div>

<div class="row portfolio">
    <div class="portfolio__item">
        <div class="portfolio__item__img vm__xs--bottom-2">
            <div class="browser-ui-small vm__xs--bottom-2">
                <img class="browser-ui-small__top" width="100%" height="auto" src="assets/images/browser-ui-large_top.jpg" alt="" />
                <div class="browser-ui-small__middle">
                    <a href="details/rainfall-tool.html"><img src="details/media/rainfall-tool/rainfall-thmb.png" width="385" height="225" alt="Rainfall Tool"></a>
                </div>
                <img class="browser-ui-small__bottom" width="100%" height="auto" src="assets/images/browser-ui-large_bottom.png" alt="">
            </div>
        </div>
        <h3 class="portfolio__item__title vm__xs--bottom-2">Rainfall Tool</h3>
        <div class="row">
            <p class="portfolio__item__description vm__xs--bottom-2 col-md-6 col-md-offset-3">A rainfall charting tool powered by Laravel and Chart.js.</p>
        </div>
        <p><a href="details/rainfall-tool.html" class="portfolio__item__btn">View Details</a></p>
    </div>

    <div class="portfolio__item portfolio__item--alt">
        <div class="portfolio__item__img vm__xs--bottom-2">
            <div class="browser-ui-small vm__xs--bottom-2">
                <img class="browser-ui-small__top" width="100%" height="auto" src="assets/images/browser-ui-large_top.jpg" alt="" />
                <div class="browser-ui-small__middle">
                    <a href="details/arcticcat.html"><img src="details/media/ac/arcticcat-thmb.png" width="385" height="auto" alt="ArcticCat.com"></a>
                </div>
                <img class="browser-ui-small__bottom" width="100%" height="auto" src="assets/images/browser-ui-large_bottom.png" alt="">
            </div>
        </div>
        <h3 class="portfolio__item__title vm__xs--bottom-2">Arctic Cat</h3>
        <div class="row">
            <p class="portfolio__item__description vm__xs--bottom-2 col-md-6 col-md-offset-3">WordPress Theme and Plugin Development</p>
        </div>
        <p><a href="details/arcticcat.html" class="portfolio__item__btn">View Details</a></p>
    </div>

    <div class="portfolio__item">
        <div class="portfolio__item__img vm__xs--bottom-2">
            <div class="browser-ui">
                <img src="https://placeimg.com/385/225/any" alt="Portfolio Image">
            </div>
        </div>
        <h3 class="portfolio__item__title vm__xs--bottom-2">Portfolio Item</h3>
        <div class="row">
            <p class="portfolio__item__description vm__xs--bottom-2 col-md-6 col-md-offset-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus cursus consectetur est eu aliquam. Aliquam erat volutpat. Nunc quis facilisis purus.
                Mauris volutpat, massa quis vehicula sollicitudin, nibh lectus bibendum mauris, a dapibus lectus
                eros vitae quam. Nullam ipsum lacus, laoreet id cursus vel, convallis in felis.</p>
        </div>
        <p><a href="#" class="portfolio__item__btn">View Live</a></p>
    </div>

</div>

{% include 'globals/_footer.twig' %}