{% include 'post/globals/_header.twig' %}
<section class="article-listing col-md-8 col-md-offset-2">
    <article class="entry">
        <h2>404 | Not Found</h2>
    </article>
</section>
{% include 'post/globals/_footer.twig' %}
