        <footer class="main-footer main-footer--portfolio row">
            <img src="assets/images/logo.png" class="main-footer__logo" />
            <nav class="show-sm main-footer__navbar col-inline col-sm-6 col-md-offset-1 col-md-6">
                {{ menu('footer', 'partials/_footer-menu')|raw }}
            </nav>
            <small class="copyright">&copy; 2018&ndash;{{ "now"|date('Y') }} Jessica Green All Rights Reserved</small>
        </footer>
    </div>
</body>
</html>
