<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Jess Green's Portfolio</title>
    <link rel="stylesheet" href="{{mix('assets/styles/screen.css')}}" media="all">
    <meta property="og:url" content="https://www.jessgreen.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="JessGreen.io" />
    <meta property="og:description" content="The portfolio of Twin Cities web developer Jess Green" />
    <meta property="og:image" content="{{asset('/images/logo.png')}}" />
    <meta property="og:image:alt" content="JessGreen.io" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ee0f4a">
    <script src="https://use.typekit.net/yyw4yxn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script data-main="assets/scripts/main" src="{{mix('assets/scripts/main.js')}}"></script>
</head>
<body>
<div id="main" class="container">
    <header class="row nav-header">
        <div class="col-md-12">
            <h1 class="pull-right logo">
                <span class="sr-only">Jess Green's Portfolio</span>
            </h1>
            <nav>
                <span id="js-mobile-menu-control" class="menu menu--open visible-xxs visible-xs visible-sm" data-menu="js-mobile-menu"></span>
                <ul id="js-mobile-menu" class="nav-header__nav-bar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/resume">Résumé</a></li>
                    <li><a target="_blank" rel="noopener nofollow" href="//www.github.com/jesgs">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>
