<div class="modal" id="modal">
    <div id="modalContentOuter" class="modal__content">
        <span class="modal__content__close" id="modalClose">&times;</span>
        <div id="modalContent"></div>
    </div>
</div>