<ul class="hlist hlist--icon-list">
    <li>
        <a href="#"><i class="fab fa-github hlist__icon hlist__icon--x3"></i><span class="hlist__label--hidden">Github</span></a>
    </li>
    <li>
        <a href="#"><i class="fab fa-linkedin hlist__icon hlist__icon--x3"></i><span class="hlist__label--hidden">LinkedIn</span></a>
    </li>
    <li>
        <a href="#"><i class="fab fa-stack-overflow hlist__icon hlist__icon--x3"></i><span class="hlist__label--hidden">StackOverflow</span></a>
    </li>
</ul>