        </main>
        <footer class="main-footer main-footer--blog row">
            <nav class="main-footer__navbar col-inline col-md-offset-1 col-md-6">
                <ul class="hlist">
                    <li><a href="{{ route('feed' )}}" type="application/rss+xml"><i class="hlist__icon fas fa-rss"></i><span class="hlist__label">RSS</span></a></li>
                    <li><a href="https://github.com/jesgs" target="_blank" rel="noopener nofollow"><i class="hlist__icon fab fa-github-alt"></i><span class="hlist__label">Github</span></a></li>
                </ul>
                <small class="copyright row">&copy; 2012&mdash;{{"now"|date('Y')}} Jessica Green All Rights Reserved</small>
            </nav>
        </footer>
    </div>
    <script type="application/javascript">
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
