{% include 'globals/_header.twig' %}
<div class="row portfolio">
    <div class="portfolio__item">
        <h2>{{item.title}}</h2>
        {% include 'portfolio/_browser-ui.twig' %}
        {% include 'portfolio/_title.twig' with {title: item.excerpt} %}
        <div class="row">
            <div class="portfolio__item__description portfolio__item__description--details vm__xs--bottom-2 col-md-6 col-md-offset-3">
                {{Markdown.convertToHtml(item.excerpt_body)|raw}}
            </div>
            <div class="portfolio__item__description vm__xs--bottom-2 col-md-6 col-md-offset-3">
                {{Markdown.convertToHtml(item.description)|raw}}
            </div>
        </div>
        <div class="row">
            {% include 'portfolio/_browser-ui-carousel.twig' %}
        </div>
        <p><a target="_blank" rel="noopener noreferrer nofollow" {% if item.url != '' %}href="{{ item.url }}"{% endif %} class="portfolio__item__btn{% if item.url == '' %} portfolio__item__btn--disabled{% endif %}">View Live</a></p>
    </div>
</div>
{% include 'globals/_modal.twig' %}
{% include 'globals/_footer.twig' %}