/**
 * @section Global Styles
 */
/**
 * Base font size: #{$font-size-base}<br />
 * Base font face: Museo Sans "#{$base-font}"
 * @section Body Styles
 * @sectionof Global Styles
 * @color {#{$color-base-3}} Background color - Global Styles.Body Styles
 * @color {#{$color-base-03}} Text/Foreground color - Global Styles.Body Styles
 */
body {
    background-color: $color-base-3;
    color: $color-base-03;
    font: {
        weight: 300;
        size: $font-size-base;
        family: $base-font;
    }
;
    line-height: 1.5;
}

/**
 * Hyperlink colors and styles
 * @section Hyperlink Styles
 * @sectionof Global Styles
 * @color {#{$color-accent-06}} Normal link state - Global Styles.Hyperlink Styles
 * @color {#{$color-accent-03}} Visited link state - Global Styles.Hyperlink Styles
 * @color {#{$color-accent-01}} Hover link state - Global Styles.Hyperlink Styles
 */
a {
    &:link {
        color: $color-accent-06;
        text-decoration: none;
    }

    &:visited {
        color: $color-accent-03;
    }

    &:hover {
        color: $color-accent-01;
        text-decoration: underline;
    }
}

/**
 * Horizontal list classes
 *
 * @section Horizontal list classes
 * @sectionof Global Styles
 *
 * @example
 * <ul class="hlist">
 *  <li>Item 1</li>
 *  <li>Item 2</li>
 * </ul>
 *
 * @code {html}
 * <ul class="hlist">
 *  <li>Item 1</li>
 *  <li>Item 2</li>
 * </ul>
 */
/**
 * @section Horizontal list class w/ divider
 * @sectionof Global Styles
 * @example
 * <ul class="hlist--nav">
 *  <li>Item 1</li>
 *  <li>Item 2</li>
 * </ul>
 *
 * @code {html}
 * <ul class="hlist--nav">
 *  <li>Item 1</li>
 *  <li>Item 2</li>
 * </ul>
 */
.hlist {
    > li {
        display: inline-block;
    }

    &--nav {
        > li {
            display: inline-block;
        }

        > li + li {
            margin-left: 10px;

            &:before {
                display: inline-block;
                margin-right: 10px;
                content: "|";
            }
        }
    }
}

/**
 * Screen-reader-only Class. Use to hide text from screen-readers
 * @section Screen-reader-only Class
 * @sectionof Global Styles
 * @example
 *  .sr-only
 * @code {html}
 *  <span class="sr-only">Hidden text</span>
 */
.sr-only {
    display: none;
}

/**
 * Pull-classes. Use to "pull" containers to left or right without using col-* classes. Wrap the
 * two columns in a container using the <code>.row</code> class to clear floats.
 * @section Pull classes
 * @sectionof Global Styles
 * @example
 * <div class="container">
 *  Not pulled
 * </div>
 * <div class="container">
 *  <div class="row">
 *      <div class="pull-left">Pulled left</div>
 *      <div class="pull-right">Pulled right</div>
 *  </div>
 * </div>
 * @code {html}
 *  <div class="container">
 *  Not pulled
 *      <div class="pull-left">Pulled left</div>
 *  </div>
 */
.pull {
    &-left {
        float: left !important;
    }

    &-right {
        float: right !important;
    }
}

/**
 * Visibility classes
 * @section Visibility classes
 * @sectionof Global Styles
 * @example
 * <div class="container">
 *     Resize the screen to see these examples in action
 *     <div class="visible-xxs">0. Only visible on screen sizes smaller than #{$xxsmall-screen-max}</div>
 *     <div class="visible-xs">1. Only visible on screen sizes between #{$xsmall-screen-min} and #{$xsmall-screen-max}</div>
 *     <div class="visible-sm">2. Only visible on screen sizes between #{$small-screen-min} and #{$small-screen-max}</div>
 *     <div class="visible-md">3. Only visible on screen sizes between #{$medium-screen-min} and #{$medium-screen-max}</div>
 *     <div class="visible-lg">4. Only visible on screen sizes larger than #{$large-screen-min}</div>
 * </div>
 * @code {html}
 * <div class="container">
 *     <div class="visible-xxs">0. Only visible on screen sizes smaller than #{$xxsmall-screen-max}</div>
 *     <div class="visible-xs">1. Only visible on screen sizes between #{$xsmall-screen-min} and #{$xsmall-screen-max}</div>
 *     <div class="visible-sm">2. Only visible on screen sizes between #{$small-screen-min} and #{$small-screen-max}</div>
 *     <div class="visible-md">3. Only visible on screen sizes between #{$medium-screen-min} and #{$medium-screen-max}</div>
 *     <div class="visible-lg">4. Only visible on screen sizes larger than #{$large-screen-min}</div>
 * </div>
 */
/* visible/invisible classes */
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-xxs {
    @media (max-width: 479px) {
        display: block !important;
    }
}

.visible-xs {
    @media (min-width: 480px) and (max-width: 767px) {
        display: block !important;
    }
}

.visible-sm {
    @media (min-width: 768px) and (max-width: 991px) {
        display: block !important;
    }
}

.visible-md {
    @media (min-width: 992px) and (max-width: 1199px) {
        display: block !important;
    }
}

.visible-lg {
    @media (min-width: 1200px) {
        display: block !important;
    }
}

strong {
    font-weight: bold;
}

cite, em {
    font-style: italic;
}