.resume {
    min-height: 900px;
    background-color: $color-base-2;
    .lead {
        background: none;
    }

    &__section {
        p, li {
            line-height: 1.625;
            letter-spacing: 0.0125em;
        }

        &__listing {
            li {
                list-style-type: circle;
                margin-left: 20px;
                margin-bottom: 5px;
            }
        }
    }
}