@import "lib/_variables";
body {
    background-color: #fff;
    margin: 0 1cm;
    font-size: $font-size-print-base;
}

header, footer {
    display: none;
}

.lead__header {
    font-size: 36pt;
}

.lead,
.resume__section {
    margin-bottom: 10pt !important;
    p, li {
        line-height: 1.2;
    }

    &__listing {
        li {
            margin-left: 20pt;
            margin-bottom: 0 !important;
        }
    }

    .event {
        margin-bottom: 0 !important;
    }
    .event + .event {
        margin-top: 10pt;
    }
}

h, .h {
    &1, &2, &3, &4, &5, &6 {
        margin-bottom: 5pt;
    }

    &2 {
        font-size: $font-size-print-l;
    }
}